[submodule "chadius.github.io"]
	path = chadius.github.io
	url = git@github.com:Chadius/chadius.github.io.git
[submodule "gitSubmodules/CurveInterpolation"]
	path = gitSubmodules/CurveInterpolation
	url = git@github.com:Chadius/CurveInterpolation.git
